<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WebSocket Example</title>
</head>
<body>
	<input type="text" id="content" placeholder="typing some content">
	<button id="submitButton">Submit</button>
	<div id="container"></div>

	<script>
		// Create a WebSocket connection to the server
        const username = prompt("Enter a username");
		const socket = new WebSocket('ws://localhost:8000/ws/' + username);

		//display messages on the web page
		function showMessage(message) {
			const messageContainer = document.getElementById('container');
			const messageElement = document.createElement('div');
			messageElement.textContent = message;
			messageContainer.appendChild(messageElement);
		}

		// Event handler for when the connection is established
		socket.addEventListener('open', (event) => {
			showMessage(username + ' Connected to server successfully.');
		});

		// Event handler for receiving messages from the server
		socket.onmessage = (event) => {
			showMessage(event.data)
		}

		// Event handler for when the connection is closed
		socket.addEventListener('close', (event) => {
			showMessage('Connection closed.');
		});

		const content = document.getElementById("content");
		const submitButton = document.getElementById("submitButton");

		submitButton.addEventListener("click", function() {
			const txt = content.value;
			socket.send(txt)
		});

	</script>
</body>
</html>
